* {
  margin: 0;
  padding: 0;
}
:root {
  --font-color: white;
  --subtitle-color: #9caea9;
  --background-color: #12141d;
  --rsbs-bg: #262626;
  --rsbs-handle-bg: gray;
  --rsbs-backdrop-bg: rgba(0, 0, 0, 0.65);
}

[data-rsbs-header] {
  box-shadow: 0 1px 0
    rgba(255, 255, 255, calc(var(--rsbs-content-opacity, 1) * 0.125)) !important;
}

html {
  background-color: var(--background-color);
  color: var(--font-color);
}

.divider {
  flex: 1;
}

.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-items: center;
}

.align-center {
  align-items: center;
}
