* {
  margin: 0;
  padding: 0;
}
:root {
  --font-color: white;
  --subtitle-color: #9caea9;
  --background-color: #12141d;
  /* --font-color: #18191a; */
  /* --background-color: ##f3f3f3; */
}

html {
  background-color: var(--background-color);
}

.divider {
  flex: 1;
}

.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-items: center;
}

.align-center {
  align-items: center;
}
